/* common css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.btn,
button {
  outline: none !important;
  box-shadow: none !important;
}

/* navbar */
.main-header {
  background-color: #ebebeb !important;
}
.nav-item {
  margin-left: 0.5rem;
}
.nav-item a {
  font-size: 16px;
  color: #101010;
  font-weight: 500;
}
.nav-item a:hover {
  color: #032b83 !important;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .main-header {
    height: 50px;
  }
}
